{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "@typescript-eslint",
      "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "overrides": [
    {
        "files": ["*.js", "*.jsx"],
        "rules": {
            "@typescript-eslint/explicit-function-return-type": "off"
        }
    }
  ]
}